.books {
    font-size: 10pt;
    overflow: hidden;
    
    #non-fiction, #fiction {
        color: gray;
        text-align: center;
        text-decoration: underline;
    }
   .links {
       padding-top: 0;
       margin-bottom: -10px;
   }
   h3 {
       padding-bottom: 30px;
   }
   h4 {
       text-decoration: underline;
       text-align: center;
       color: gray;
       padding-bottom: 20px;
       padding-top: 30px;
       clear: both;

   }
    .book-rec {
        position: relative;
        display:  block;
        width: 20%;
        height: 170px;

        @media (max-width: 700px) {
            width: 25%;
            height: 200px;
        }
        @media (max-width: 550px) {
            width: 33%;
            height: 200px;
        }
        float: left;
        &:hover {
            img {
                opacity: 0.1;
            }
            .middle {
                opacity: 1;
            }
        }
        img {
            opacity: 1;
            display: block;
            width: 100%;
            height: 100%;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 25%;
            left: 5%;
            width: 90%;
            text-align: center;

            .title {
                color: black;
                font-weight: bold;
                margin-top: -20px;
                padding-bottom: 10px;
                border-bottom: solid darkgrey 5px;
            }
            auth {
                margin-top: 0px;
                color: black;
                font-style: italic;
                font-variant: small-caps;
            }
        }
    }
}
