.papers {
  h1 {
    padding-top: 20px;
  }
  
  .papers-table {
    border: 0px;
    margin-top: 35px;
    tr:nth-child(odd) td{
        background-color: white;
    }
    td {
        border: 0px;
        padding: 0;
        vertical-align: top;
        padding-bottom: 20px;
    }
    .pubinfo {
      #highlight {
        color: green;
      }
    }
}




}

