.papers {

  h1 {
    font-weight: bold;
    padding-top: 20px;
    font-size: 14pt;
  }

  .pubitem {
    margin: 1.5em 0;
  }
  
  .pubtitle {
    line-height: 1.2em;
    font-size: 12pt;
    // font-weight: bold;
  }
  
  .pubauthors,
  .pubinfo {
    font-size: 12pt;
  }

  #highlight {
    color: black;
    font-weight: bold;
    font-size: 10pt;
  }


}

