.note {
    color: black;
    text-align: justify;
    h1 {
        font-size: 20pt;
        text-align: center;
    }
    h2 {
        font-size: 16pt;
        font-weight: bold;
        padding-top: 20px;
    }
    h3 {
        font-weight: bold;
        //font-size: 14pt;
        //font-variant: small-caps;
    }

    img {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .caption {
        font-size: 10pt;
        color: gray;
        margin-left: 20px;
        margin-right: 20px;
    }
}