/* The css file is generated automatically from the 
sass file */

$min_desktop_width: 768px;
$max_mobile_width: 767px; 
$tan: #F6F1EB;
$lightgray: #d9d9d9;
$linkcolor: #0099cc;
$global_font_size: 12pt;


#header {
	 nav {
	 	li {
	 		padding-top: 5px;
	 		padding-right: 5px;
	 	}
		background-color: white;
		border-color: white;
		font-family: 'Lobster';
		font-variant: small-caps;
		.navbar-header {
			padding-top: 5px;
			font-weight: bold;
			.navbar-toggle {
				background-color: white;
				border-color: white;
			}
			a {
				color: $linkcolor;
			}
		}
		.navbar-right {
			.dropdown {
				.dropdown-menu {
					border-color: white;
					li {
						&:hover {
							background-color: white;
						}
					}
				}

				/*.dropdown-toggle {
					.open>a:focus {
						background-color: white;
					}
					.open>a:hover {
						background-color: white;
					}
				}*/
			}
			a {
				font-size: 12pt;
				color: gray;
				&:hover {
					color: $linkcolor;
					text-decoration: none;
				}
			}
			img {
				@media (min-width: $min_desktop_width) {
					float: right;
				}
				/*margin: 10px 10px 10px 0;*/
				height: 25px;
				width: auto;
				-webkit-transition: opacity .3s;
	        	transition: opacity .3s;
				&:hover {
					opacity: 0.4;
				}	

			}
		}
	}
	.navbar-default .navbar-nav>.open>a, 
	.navbar-default .navbar-nav>.open>a:focus, 
	.navbar-default .navbar-nav>.open>a:hover {
    	background-color: white;
}	
	
}



/*header {
	border-bottom: solid;
	padding-bottom: 10px;
	border-bottom-color: gray;
	border-bottom-width: 2px;
	.name {
		h2 {
			font-family: 'Lobster';
			font-weight: bold;
			font-variant: small-caps;
			
			@media (min-width: $min_desktop_width) {
				text-align: left;
			}
			@media(max-width: $max_mobile_width) {
				text-align: center;
			}
			a { 
				&:hover {
					color: $linkcolor;
					text-decoration: none;
				}
			}
		}
	}
	.social {
		img {
			@media (min-width: $min_desktop_width) {
				float: right;
			}
			margin: 15px 15px 15px 0;
			height: 30px;
			width: auto;
			-webkit-transition: opacity .3s;
        	transition: opacity .3s;
			&:hover {
				opacity: 0.4;
			}	

		}
	}
}*/

.main-body {
	color: gray;
	font-family: times;
	padding-bottom: 50px;
	padding-top: 50px;
	h4, p  {
		text-align: justify;	
		font-size: $global_font_size;
	}
	ul {
		li {
			font-size: $global_font_size;
		}
	}
	h2,h3 {
		color: gray;
	}
	.info {
		h4, p  {
			margin-top: 30px;
		}	
	}	
	a {
		color: $linkcolor;
	}

	.carousel-inner .item {
		img {
			border-radius: 10px;
			display: inline;
			@media (min-width: $min_desktop_width) {
				height: 300px;
			}
			@media(max-width: $max_mobile_width) {
				height: 150px;
			}
		}
	}

	.papers, .theses {
		li {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	.links {
		ul {
			li {
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}
	}

	.podcasts {
	 	h3 {
	 		padding-bottom: 20px;
	 	}
	 	h4, ul {
	 		li {
	 			padding-bottom: 10px;
	 		}
	 	}
	}

	 .lectures {
	 	h4, ul {
	 		padding-top: 10px;
	 		li {
	 			padding-bottom: 8px;
	 		}
	 	}
	 }

	 .books {
	 	font-size: $global_font_size;
	 	#non-fiction, #fiction {
	 		color: gray;
	 		text-align: center;
	 		text-decoration: underline;
	 	}
	 	ul li {
			padding-top: 3px;
			padding-bottom: 3px;
	 	}
	 	.pre-books {
 			padding-bottom: 30px;
 		}
 		.line {
 			border-bottom: inset lightgray 1px;
 			padding-top: 10px;
 			padding-bottom: 10px; 
 			margin-bottom: 10px;
		 	ul {
		 		padding-top: 8px;
		 	}
 			
 		}	
	 }
}

