/* The css file is generated automatically from the
sass file */

$min_desktop_width: 768px;
$max_mobile_width: 767px;
$tan: #F6F1EB;
$lightgray: #d9d9d9;
$linkcolor: #0099cc;
$global_font_size: 12pt;

html {
	scroll-behavior: smooth;
	background-color: $tan;
}

#header {
	background-color: $tan;
	 nav {
	 	li {
	 		padding-top: 5px;
	 		padding-right: 5px;
	 	}
		background-color: $tan;
		border-color: $tan;
		font-family: 'Lobster';
		font-variant: small-caps;
		.navbar-header {
			padding-top: 5px;
			font-weight: bold;
			.navbar-toggle {
				background-color: $tan;
				border-color: $tan;
			}
			a {
				color: $linkcolor;
			}
		}
		.navbar-right {
			.dropdown {
				.dropdown-menu {
					border-color: white;
					li {
						&:hover {
							background-color: white;
						}
					}
				}
			}
			a {
				font-size: 12pt;
				color: gray;
				&:hover {
					color: $linkcolor;
					text-decoration: none;
				}
			}

		}
	}
	.navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
    	background-color: white;
}

}


.main-body {
	height: 110%;
	background-color: $tan;
	font-family: times;
	padding-bottom: 50px;
	padding-top: 50px;
	h4, p  {
		text-align: justify;
		font-size: $global_font_size;
	}
	ul {
		li {
			font-size: $global_font_size;
		}
	}
	h2,h3 {
		color: gray;
	}
	.quote {
		color: gray;
		padding-bottom: 20px;
		padding-top: 10px;
	}
	.col-sm-8 {
		color: gray;
		.border {
			padding-top: 50px;
			border-bottom: solid lightgray 1px;
		}
		.top-info {
		padding-top: 10px;

		}
		.links {
			margin-top: 25px;
			img {
				height: 25px;
				width: auto;
				padding-left: 10px;
				padding-right: 10px;
				-webkit-transition: opacity .3s;
	        	transition: opacity .3s;
				&:hover {
					opacity: 0.4;
				}
			}
		}
	}

	.info {
		h4, p {
			margin-top: 30px;
			margin-right: 20px;
			padding-right: 10px;
		}
		ul {
			padding-left: 10px;
			margin-right: 20px;
			padding-right: 10px;

		}
	}
	a {
		color: $linkcolor;
	}
	img {
		border-radius: 5px;
		@media (min-width: $min_desktop_width) {
				height: 240px;
		}
		@media(max-width: $max_mobile_width) {
			height: 150px;
			padding-top: 30px;
		}
	}

	.papers, .theses {
		li {
			padding-top: 5px;
			padding-bottom: 5px;
		}
		button {
			background-color: transparent;
			border-width: 0;
			color: $linkcolor;
			&:focus {
				outline: none;
				border-width: 0;
			}
		}
		.abs {
			text-align: justify;
			color: gray;
		}
	}


	 .lectures {
	 	h4, ul {
	 		padding-top: 10px;
	 		li {
	 			padding-bottom: 8px;
	 		}
	 	}
	 }

	 .books {
	 	font-size: $global_font_size;
	 	#non-fiction, #fiction {
	 		color: gray;
	 		text-align: center;
	 		text-decoration: underline;
	 	}
		.links {
			padding-bottom: 20px;
		}
		h3 {
			padding-bottom: 30px;
			padding-top: 30px;
		}
		h4 {
			text-decoration: underline;
			text-align: center;
			color: gray;
			padding-bottom: 20px;

		}
		.topics {
			border-bottom: inset lightgray 1px;
			.row {
				padding-top: 20px;
			}
		}
		.favourite-books {
			border-bottom: inset lightgray 1px;
 			padding-top: 10px;
 			padding-bottom: 10px;
 			margin-bottom: 10px;
		}
		.book-rec {
			display: flex;
			padding-bottom: 10px;
		}
		.col-sm-4 {
			height: 140px;
			@media (max-width: $max_mobile_width) {
				height: 160px;
				padding-top: 20px;
			}
			img {
				border-radius: 3px;
				padding-top: 0;
				height: auto;
				width: 85px;
			}
			span {
				overflow: auto;
				padding-left: 10px;
				font-size: 10pt;
				tit {
					font-weight: bold;
				}
				auth {
					font-style: italic;
				}
			}
		}
		.col-sm-2 {
			text-align: center;
			height: 180px;
			@media (max-width: $max_mobile_width) {
				height: 200px;
			}
			padding: 1px;
			span {
				position: absolute;
				opacity: 0
			}
			img {
				margin-left: auto;
				margin-right: auto;
				display: block;
				width: 100%;
				height: 100%;
				@media (max-width: $max_mobile_width) {
						height: auto;
						width: 130px;

				}
			}
		}
	 	ul li {
			padding-top: 3px;
			padding-bottom: 3px;
	 	}
	 	.pre-books {
 			padding-bottom: 30px;
 		}
	 }
}
