/* The css file is generated automatically from the
sass file */
html {
  scroll-behavior: smooth;
  background-color: #F6F1EB; }

#header {
  background-color: #F6F1EB; }
  #header nav {
    background-color: #F6F1EB;
    border-color: #F6F1EB;
    font-family: 'Lobster';
    font-variant: small-caps; }
    #header nav li {
      padding-top: 5px;
      padding-right: 5px; }
    #header nav .navbar-header {
      padding-top: 5px;
      font-weight: bold; }
      #header nav .navbar-header .navbar-toggle {
        background-color: #F6F1EB;
        border-color: #F6F1EB; }
      #header nav .navbar-header a {
        color: #0099cc; }
    #header nav .navbar-right .dropdown .dropdown-menu {
      border-color: white; }
      #header nav .navbar-right .dropdown .dropdown-menu li:hover {
        background-color: white; }
    #header nav .navbar-right a {
      font-size: 12pt;
      color: gray; }
      #header nav .navbar-right a:hover {
        color: #0099cc;
        text-decoration: none; }
  #header .navbar-default .navbar-nav > .open > a,
  #header .navbar-default .navbar-nav > .open > a:focus,
  #header .navbar-default .navbar-nav > .open > a:hover {
    background-color: white; }

.main-body {
  height: 110%;
  background-color: #F6F1EB;
  font-family: times;
  padding-bottom: 50px;
  padding-top: 50px; }
  .main-body h4, .main-body p {
    text-align: justify;
    font-size: 12pt; }
  .main-body ul li {
    font-size: 12pt; }
  .main-body h2, .main-body h3 {
    color: gray; }
  .main-body .quote {
    color: gray;
    padding-bottom: 20px;
    padding-top: 10px; }
  .main-body .col-sm-8 {
    color: gray; }
    .main-body .col-sm-8 .border {
      margin-top: 20px;
      border-bottom: solid lightgray 1px;
      border-top: solid lightgray 1px; }
    .main-body .col-sm-8 .top-info {
      padding-top: 10px; }
  .main-body .links {
    padding-top: 20px;
    margin-bottom: 50px;
    border-radius: 0px; }
    .main-body .links img {
      height: 30px;
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
      -webkit-transition: opacity .3s;
      transition: opacity .3s; }
      .main-body .links img:hover {
        opacity: 0.4; }
  .main-body .info h4, .main-body .info p {
    margin-top: 30px;
    margin-right: 20px;
    padding-right: 10px; }
  .main-body .info ul {
    padding-left: 10px;
    margin-right: 20px;
    padding-right: 10px; }
  .main-body a {
    color: #0099cc; }
  .main-body #photos > img {
    border-radius: 5px; }
    @media (min-width: 768px) {
      .main-body #photos > img {
        height: 240px;
        border-radius: 10px; } }
    @media (max-width: 767px) {
      .main-body #photos > img {
        height: 150px;
        padding-top: 30px; } }
  .main-body .papers li, .main-body .theses li {
    padding-top: 5px;
    padding-bottom: 5px; }
  .main-body .papers button, .main-body .theses button {
    background-color: transparent;
    border-width: 0;
    color: #0099cc; }
    .main-body .papers button:focus, .main-body .theses button:focus {
      outline: none;
      border-width: 0; }
  .main-body .papers .abs, .main-body .theses .abs {
    text-align: justify;
    color: gray; }
  .main-body .lectures h4, .main-body .lectures ul {
    padding-top: 10px; }
    .main-body .lectures h4 li, .main-body .lectures ul li {
      padding-bottom: 8px; }
  .main-body .books {
    font-size: 12pt; }
    .main-body .books #non-fiction, .main-body .books #fiction {
      color: gray;
      text-align: center;
      text-decoration: underline; }
    .main-body .books .links {
      padding-top: 0;
      margin-bottom: -10px; }
    .main-body .books h3 {
      padding-bottom: 30px;
      padding-top: 30px; }
    .main-body .books h4 {
      font-size: 20;
      text-decoration: underline;
      text-align: center;
      color: gray;
      padding-bottom: 20px; }
    .main-body .books .topics {
      border-bottom: inset lightgray 2px;
      padding-bottom: 30px; }
      .main-body .books .topics .row {
        padding-top: 50px; }
      .main-body .books .topics .book-rec {
        position: relative;
        width: 20%;
        height: 225px;
        float: left; }
        @media (max-width: 1000px) {
          .main-body .books .topics .book-rec {
            width: 25%;
            height: 200px; } }
        @media (max-width: 540px) {
          .main-body .books .topics .book-rec {
            width: 33%;
            height: 200px; } }
        @media (max-width: 400px) {
          .main-body .books .topics .book-rec {
            width: 33%;
            height: 150px; } }
        .main-body .books .topics .book-rec:hover img {
          opacity: 0.1; }
        .main-body .books .topics .book-rec:hover .middle {
          opacity: 1; }
        .main-body .books .topics .book-rec img {
          opacity: 1;
          display: block;
          width: 100%;
          height: 100%;
          /*height: auto;*/
          transition: .5s ease;
          backface-visibility: hidden; }
        .main-body .books .topics .book-rec .middle {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 25%;
          left: 5%;
          width: 90%;
          text-align: center;
          /*left: 25%;
          text-align: center;
          transform: translate(-10%, 0%);
          ms-transform: translate(-50%, -50%);*/ }
          .main-body .books .topics .book-rec .middle .title {
            color: black;
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: solid darkgrey 5px; }
          .main-body .books .topics .book-rec .middle auth {
            margin-top: 0px;
            color: black;
            font-style: italic;
            font-variant: small-caps; }
    .main-body .books .favourite-books {
      border-bottom: inset lightgray 2px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      .main-body .books .favourite-books .book-rec {
        display: flex;
        margin-bottom: 10px; }
      .main-body .books .favourite-books .col-sm-4 {
        height: 140px; }
        @media (max-width: 767px) {
          .main-body .books .favourite-books .col-sm-4 {
            height: 160px;
            padding-top: 20px; } }
        .main-body .books .favourite-books .col-sm-4 img {
          /*position: absolute;*/
          border-radius: 3px;
          padding-top: 0;
          height: auto;
          width: 85px; }
        .main-body .books .favourite-books .col-sm-4 span {
          overflow: auto;
          padding-left: 10px;
          font-size: 10pt; }
          .main-body .books .favourite-books .col-sm-4 span tit {
            font-weight: bold; }
          .main-body .books .favourite-books .col-sm-4 span auth {
            font-style: italic; }
    .main-body .books ul li {
      padding-top: 3px;
      padding-bottom: 3px; }
    .main-body .books .pre-books {
      padding-bottom: 30px; }

/*# sourceMappingURL=main.css.map */
