/* The css file is generated automatically from the
sass file */

$min_desktop_width: 768px;
$max_mobile_width: 767px;
$tan: #F6F1EB;
$lightgray: #d9d9d9;
$linkcolor: #0099cc;
$global_font_size: 12pt;


#header {
	 nav {
	 	li {
	 		padding-top: 5px;
	 		padding-right: 5px;
	 	}
		background-color: white;
		border-color: white;
		font-family: 'Lobster';
		font-variant: small-caps;
		.navbar-header {
			padding-top: 5px;
			font-weight: bold;
			.navbar-toggle {
				background-color: white;
				border-color: white;
			}
			a {
				color: $linkcolor;
			}
		}
		.navbar-right {
			.dropdown {
				.dropdown-menu {
					border-color: white;
					li {
						&:hover {
							background-color: white;
						}
					}
				}

				/*.dropdown-toggle {
					.open>a:focus {
						background-color: white;
					}
					.open>a:hover {
						background-color: white;
					}
				}*/
			}
			a {
				font-size: 12pt;
				color: gray;
				&:hover {
					color: $linkcolor;
					text-decoration: none;
				}
			}
			img {
				@media (min-width: $min_desktop_width) {
					float: right;
				}
				/*margin: 10px 10px 10px 0;*/
				height: 25px;
				width: auto;
				-webkit-transition: opacity .3s;
	        	transition: opacity .3s;
				&:hover {
					opacity: 0.4;
				}

			}
		}
	}
	.navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
    	background-color: white;
}

}


.main-body {
	font-family: times;
	padding-bottom: 50px;
	padding-top: 50px;
	h4, p  {
		text-align: justify;
		font-size: $global_font_size;
	}
	ul {
		li {
			font-size: $global_font_size;
		}
	}
	h2,h3 {
		color: gray;
	}
	.col-sm-8 {
		color: gray;
		.border {
			padding-top: 50px;
			border-bottom: solid lightgray 1px;
		}
		.top-info {
		padding-top: 10px;
		.links {
			padding-top: 10px;
			img {
				height: 25px;
				width: auto;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		}

	}

	.info {
		h4, p {
			margin-top: 30px;
			margin-right: 20px;
			padding-right: 10px;
		}
		ul {
			padding-left: 10px;
			margin-right: 20px;
			padding-right: 10px;

		}
	}
	a {
		color: $linkcolor;
	}
	img {
		@media (min-width: $min_desktop_width) {
				height: 240px;
		}
		@media(max-width: $max_mobile_width) {
			height: 150px;
			padding-top: 30px;
		}
	}

	.carousel-inner .item {
		img {
			border-radius: 10px;
			display: inline;
			@media (min-width: $min_desktop_width) {
				height: 240px;
			}
			@media(max-width: $max_mobile_width) {
				height: 150px;
				padding-top: 30px;
			}
		}
	}

	.papers, .theses {
		li {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	.podcasts {
		font-size: $global_font_size;
		.col-sm-9 {
			padding-top: 15px;
		}
	 	h3 {
	 		padding-bottom: 20px;
	 	}
	 	h4 {
	 		padding-top: 20px;
	 		padding-bottom: 20px;
	 		font-style: italic;
	 	}
	 	img {
	 		padding-bottom: 10px;
	 		width: 120px;
	 		height: auto;
	 	}
	}

	 .lectures {
	 	h4, ul {
	 		padding-top: 10px;
	 		li {
	 			padding-bottom: 8px;
	 		}
	 	}
	 }

	 .books {
	 	font-size: $global_font_size;
	 	#non-fiction, #fiction {
	 		color: gray;
	 		text-align: center;
	 		text-decoration: underline;
	 	}
		.favourite-books {
			h3 {
				padding-bottom: 30px;
			}
		}
		.book-rec {
			height: 150px;
			padding-bottom: 10px;
			padding-left: -50px;
			img {
				width: 80px;
				height: auto;
			}
			.exp {
				text-align: left;
				font-size: 10pt;
			}

		}
	 	ul li {
			padding-top: 3px;
			padding-bottom: 3px;
	 	}
	 	.pre-books {
 			padding-bottom: 30px;
 		}
 		.line {
 			border-bottom: inset lightgray 1px;
 			padding-top: 10px;
 			padding-bottom: 10px;
 			margin-bottom: 10px;
		 	ul {
		 		padding-top: 8px;
		 	}

 		}
	 }
}
