/* The css file is generated automatically from the
sass file */
#header nav {
  background-color: white;
  border-color: white;
  font-family: 'Lobster';
  font-variant: small-caps; }
  #header nav li {
    padding-top: 5px;
    padding-right: 5px; }
  #header nav .navbar-header {
    padding-top: 5px;
    font-weight: bold; }
    #header nav .navbar-header .navbar-toggle {
      background-color: white;
      border-color: white; }
    #header nav .navbar-header a {
      color: #0099cc; }
  #header nav .navbar-right .dropdown {
    /*.dropdown-toggle {
    	.open>a:focus {
    		background-color: white;
    	}
    	.open>a:hover {
    		background-color: white;
    	}
    }*/ }
    #header nav .navbar-right .dropdown .dropdown-menu {
      border-color: white; }
      #header nav .navbar-right .dropdown .dropdown-menu li:hover {
        background-color: white; }
  #header nav .navbar-right a {
    font-size: 12pt;
    color: gray; }
    #header nav .navbar-right a:hover {
      color: #0099cc;
      text-decoration: none; }
  #header nav .navbar-right img {
    /*margin: 10px 10px 10px 0;*/
    height: 25px;
    width: auto;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
    @media (min-width: 768px) {
      #header nav .navbar-right img {
        float: right; } }
    #header nav .navbar-right img:hover {
      opacity: 0.4; }
#header .navbar-default .navbar-nav > .open > a,
#header .navbar-default .navbar-nav > .open > a:focus,
#header .navbar-default .navbar-nav > .open > a:hover {
  background-color: white; }

.main-body {
  font-family: times;
  padding-bottom: 50px;
  padding-top: 50px; }
  .main-body h4, .main-body p {
    text-align: justify;
    font-size: 12pt; }
  .main-body ul li {
    font-size: 12pt; }
  .main-body h2, .main-body h3 {
    color: gray; }
  .main-body .col-sm-8 {
    color: gray; }
    .main-body .col-sm-8 .border {
      padding-top: 50px;
      border-bottom: solid lightgray 1px; }
    .main-body .col-sm-8 .top-info {
      padding-top: 10px; }
      .main-body .col-sm-8 .top-info .links {
        padding-top: 10px; }
        .main-body .col-sm-8 .top-info .links img {
          height: 25px;
          width: auto;
          padding-left: 10px;
          padding-right: 10px; }
  .main-body .info h4, .main-body .info p {
    margin-top: 30px;
    margin-right: 20px;
    padding-right: 10px; }
  .main-body .info ul {
    padding-left: 10px;
    margin-right: 20px;
    padding-right: 10px; }
  .main-body a {
    color: #0099cc; }
  @media (min-width: 768px) {
    .main-body img {
      height: 240px; } }
  @media (max-width: 767px) {
    .main-body img {
      height: 150px;
      padding-top: 30px; } }
  .main-body .carousel-inner .item img {
    border-radius: 10px;
    display: inline; }
    @media (min-width: 768px) {
      .main-body .carousel-inner .item img {
        height: 240px; } }
    @media (max-width: 767px) {
      .main-body .carousel-inner .item img {
        height: 150px;
        padding-top: 30px; } }
  .main-body .papers li, .main-body .theses li {
    padding-top: 5px;
    padding-bottom: 5px; }
  .main-body .podcasts {
    font-size: 12pt; }
    .main-body .podcasts .col-sm-9 {
      padding-top: 15px; }
    .main-body .podcasts h3 {
      padding-bottom: 20px; }
    .main-body .podcasts h4 {
      padding-top: 20px;
      padding-bottom: 20px;
      font-style: italic; }
    .main-body .podcasts img {
      padding-bottom: 10px;
      width: 120px;
      height: auto; }
  .main-body .lectures h4, .main-body .lectures ul {
    padding-top: 10px; }
    .main-body .lectures h4 li, .main-body .lectures ul li {
      padding-bottom: 8px; }
  .main-body .books {
    font-size: 12pt; }
    .main-body .books #non-fiction, .main-body .books #fiction {
      color: gray;
      text-align: center;
      text-decoration: underline; }
    .main-body .books .favourite-books h3 {
      padding-bottom: 30px; }
    .main-body .books .book-rec {
      height: 150px;
      padding-bottom: 10px;
      padding-left: -50px; }
      .main-body .books .book-rec img {
        width: 80px;
        height: auto; }
      .main-body .books .book-rec .exp {
        text-align: left;
        font-size: 10pt; }
    .main-body .books ul li {
      padding-top: 3px;
      padding-bottom: 3px; }
    .main-body .books .pre-books {
      padding-bottom: 30px; }
    .main-body .books .line {
      border-bottom: inset lightgray 1px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      .main-body .books .line ul {
        padding-top: 8px; }

/*# sourceMappingURL=main.css.map */
