<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-{{site.color-scheme}}">


    <!--
      Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS
      collisions with our real content.
    -->
    <div class="wrap">
      <header class="masthead">
        <div class="container">
          <a id='name' href="{% link index.md %}">Ben Chugg</a>
          <div class="span">
            <a href="{% link papers.md %}">Papers</a> 
            <a href="{% link writing.md %}">Writing</a>
            <a href="{% link research_notes.md %}">Notes</a>
            <a href="http://incrementspodcast.com">Podcast</a>
          </div>
        </div>
      </header>

      <main class="container content" id="main">
        {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" href="http' }} <!-- "> -->
      </main>

      <!-- Footer  -->
      <div class="container" id="footer">
        <hr>
        <div class='container links'>
          <a href="https://scholar.google.ca/citations?user=wYJDbD4AAAAJ&hl=en" rel='nofollow'><img src="/assets/images/googlescholar.png"></a>
          <a href="https://github.com/bchugg" rel='nofollow'><img src="/assets/images/github.png"></a>
          <a href="https://www.goodreads.com/user/show/90945992-ben-chugg" rel='nofollow'><img src="/assets/images/goodreads.png"></a>
          <a href="https://twitter.com/BennyChugg" rel='nofollow'><img src="/assets/images/twitter.png"></a>
        </div>
      
        <div class='copyright'>
          <small>&#169; {{ 'now' | date: "%Y" }} Ben Chugg</small>
        </div>
      
      </div>
    </div>

  </body>
</html> 
